<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
</head>
<body>
<div class="container">
    {{ content }}
</div>
<h3>links</h3>
<ul>
    <li><a href=/about>about roxberry</a></li>
</ul>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-39338778-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
</body>
</html>