<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    {{ content }}
</div>
<h3>links</h3>
<ul>
    <li><a href=/about>about roxberry</a></li>
</ul>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-39338778-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
</body>
</html>